body{
    margin: 0;
    padding: 0;
}

.product_container{
    margin: auto;
    width: 80%;
    margin-top: 4%;
    background-color:  #f0f8ff;
    padding: 20px;
    border-radius: 5px;
}

.input_fields{
    display: flex;
    column-gap: 50px;
}
.label_price{
    display: flex;
    column-gap: 60px;
}

.label_price>li{
    list-style-type: none;;
}

.inputs{
    display: flex;
    column-gap: 90px;
    margin-top: 50px;
}

.heading{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.heading_items>li{
    list-style-type: none;
}

.heading_items{
    display: flex;
    justify-content: space-between;
}

.icon_fc{
    width: 30px;
    height: 30px;
    border: 1px solid skyblue;
    border-radius: 2px;
    background-color: skyblue;
}

.icon_rx{
    font-size: 20px;
    font-weight: bold;
}
.products{
margin: auto;
width: 80%;
}

.card_a{
    display: flex;
    column-gap: 70px;
    margin-top: 15px;
}

.card_b{
    display: flex;
    column-gap: 70px;
    margin-top: 15px;
}

.card_c{
    margin-top: 15px;
    display: flex;
    column-gap: 70px;
  
}


.footer_content{
    margin: auto;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: end;
}